<div class="container">
  <nav>
    <table>
      <td *ngFor="let action of actions">
        <button class="btn btn-success" 
          (click)="setActionCourante(action)"
          [style.backgroundColor]="action==actionCourante?'black':'green'"
          routerLink="{{action.route}}">
          <span *ngIf="action.titre === 'Accueil'">
            <i class="bi bi-house-door"></i>
          </span>
        
          <span *ngIf="action.titre === 'Produits'">
            <i class="bi bi-box"></i>
          </span>
        
          <span *ngIf="action.titre === 'Ajouter Produit'">
            <i class="bi bi-plus"></i>
          </span>
          {{action.titre}}
        </button>
      </td>
    </table>
  </nav>
</div>

<router-outlet>

</router-outlet>