<div>
    <h1>Fiche Produit</h1>
    <table>
        <tbody>
            <tr>
                <th>
                Id:
                <input type="text">
                </th>
            </tr>
            <tr>
                <th>
                    Code:
                    <input type="text">
                </th>
            </tr>
            <tr>
                <th>
                    Designation:
                    <input type="text">
                </th>
            </tr>
            <tr>
                <th>
                    Prix:
                    <input type="text">
                </th>
            </tr>
            
        </tbody>
        <button>Valider</button>
    </table>


    <h1>Liste des produits</h1>
    <!-- <app-entete></app-entete> -->

    <table>
        <thead>
            <tr>
                <th> Id </th>    <th> Code </th>    <th> Designation </th>    <th> Prix </th> <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let p of produits">
                <td> {{p.id}}</td>
                <td> {{p.code}}</td> 
                <td> {{p.designation}}</td> 
                <td> {{p.prix}}</td>
                <td> 
                    <button>Editer</button>
                    <button>supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>