
<div *ngIf="produitEdite">
  <h1 class="container">Fiche Produit</h1>
  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)" class="container">
    <table>
      <tr>
        <td>Id:</td>
        <td><input id="id" name="id" type="text" [(ngModel)]="produitCourant.id" required [readonly]="true" /></td>
      </tr>
      <tr>
        <td>Code:</td>
        <td><input type="text" name="code" [(ngModel)]="produitCourant.code" /></td>
      </tr>
      <tr>
        <td>Désignation:</td>
        <td><input type="text" name="designation" [(ngModel)]="produitCourant.designation" /></td>
      </tr>
      <tr>
        <td>Categorie:</td>
        <td><input type="text" name="categorie" [(ngModel)]="produitCourant.categorie" /></td>
      </tr>
      <tr>
        <td>Prix:</td>
        <td><input type="text" name="prix" [(ngModel)]="produitCourant.prix" /></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <button type="submit" [disabled]="!produitForm.form.valid" class="btn btn-success">
            Valider
            <i class="bi bi-check"></i>
          </button>
          <button *ngIf="!produitCourant.id" (click)="effacerSaisie()">Effacer</button>
        </td>
      </tr>
      
    </table>
  </form>
</div>

<div class="container">
  <h1>Liste des produits</h1>
  <div class="d-flex justify-content-center mb-3">
    <label for="categorieFilter" class="mr-2">Filtrer par catégorie:</label>
    <select id="categorieFilter" [(ngModel)]="filtreCategorie" class="form-control">
      <option value="">Toutes les catégories</option>
      <option *ngFor="let categorie of categories" [value]="categorie">{{ categorie }}</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Désignation</th>
        <th>Catégorie</th>
        <th>Prix</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produits">
        <td>{{ p.id }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.designation }}</td>
        <td>{{ p.categorie?.code}}</td>
        <td>{{ p.prix }}</td>
        <td>
          <button (click)="editerProduit1(p)" class="btn btn-outline-dark">
            <i class="bi bi-pen"></i>
            Editer</button>
        </td>
        <td>
          <button (click)="supprimerProduit(p)" class="btn btn-danger">
            <i class="bi bi-trash"></i>
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>